<div style="width: 80%; margin: 0 auto;">
	<div class="form-group">
		<label for="orgName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="orgName"
				placeholder="Name" data-ng-model="neworg.name" required="required">
		</div>
		<br>
	</div>
	<div class="form-group">
		<label for="orgType" class="col-sm-2 control-label">Type</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="orgType"
				placeholder="Type" data-ng-model="neworg.type">
		</div>
		<br>
	</div>
	<div class="form-group">
		<label for="address" class="col-sm-2 control-label">Address</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="address"
				placeholder="Address" data-ng-model="neworg.address">
		</div>
		<br>
	</div>
	<div class="form-group">
		<label for="phone" class="col-sm-2 control-label">Phone</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="phone"
				placeholder="Phone" data-ng-model="neworg.phone">
		</div>
		<br>
	</div>
	<div class="form-group">
		<label for="website" class="col-sm-2 control-label">Website</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="website"
				placeholder="Website" data-ng-model="neworg.website">
		</div>
		<br>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Contact Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control input-sm" id="email"
				placeholder="Contact Email" data-ng-model="neworg.email">
		</div>
		<br>
	</div>
	<div class="form-group">
		<label for="empCount" class="col-sm-2 control-label">Employee Count</label>
		<div class="col-sm-10">
			<input type="number" class="form-control input-sm" id="empCount"
				placeholder="Employee Count" data-ng-model="neworg.empCount">
		</div>
		<br>
	</div>
	<div class="form-group">
		<label for="annualRevenue" class="col-sm-2 control-label">Revenue</label>
		<div class="col-sm-10">
			<input type="text" class="form-control input-sm" id="annualRevenue"
				placeholder="Annual Revenue" data-ng-model="neworg.annualRevenue">
		</div>
		<br>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="button" data-ng-click="createNewOrganization()" class="btn btn-default">Create</button>
		</div>
	</div>
</div>